@model IEnumerable<Rectimotos.Models.VentasViewModel>


    <center><h5>VENTAS RECTIMOTOS</h5></center>
    <hr />

    <table class="table">
    <thead>
        <tr>
            <th>Fecha Pedido</th>
            <th>Usuario Cliente</th>
            <th>Cantidad de Productos</th>
            <th>Observaciones</th>
            <th>Estado de Venta</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model) {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Fecha)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IdUsuario)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Cantidad)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Observaciones)
                </td>
                <td>

                    @Html.DisplayFor(modelItem => item.IdEstado)
                </td>

                <td>AQUI BOTONES PARA GESTINAR LA VENTA (Procesar) (Enviar)</td> @*lo que hay que completar con metodos post*@
                
            </tr>
        }
    </tbody>
</table>
