@{
    ViewData["Title"] = "Home Page";
}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">


    <title>Productos</title>
    <link rel="stylesheet" href="~/css/Home.css" />
    
</head>
<body>
    <!-- Otras partes del cuerpo de la página -->

    @foreach (var producto in Model.Productos)
    {
        <div class="producto">
            <h3>@producto.Nombre</h3>
            <p>@producto.Descripcion</p>
            <label>
                <input type="checkbox" name="@($"producto{producto.IdProducto}")"> Agregar a Carrito
            </label>
        </div>
    }
    <form method="post" asp-action="FilterByCategory">
    <label for="categoriaId">Filtrar por categoría:</label>
    <select name="categoriaId" id="categoriaId">
        <option value="">Todas las categorías</option>
        @foreach (var categoria in Model.Categorias)
        {
            <option value="@categoria.IdCategoria">@categoria.Nombre</option>
        }
    </select>
    <button type="submit">Filtrar</button>
</form>


</body>