@model IEnumerable<Rectimotos.Models.UsuariosViewModel>

@{
    ViewData["Title"] = "Index";
}

<head>
    <title>@ViewData["Title"] - RECTIMOTOS</title>

    <link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/lib/font-awesone/css/all.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">

    <link rel="stylesheet" href="~/css/Indexs.css" />

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="~/lib/font-awesone/js/all.min.js"></script>

</head>

<body>
    <div class="container-fluid">

        <h4>TABLA DE USUARIOS</h4>
        <hr />
        <div class="row col-6 justify-content-initial">
            <a asp-action="Create" class="btn botons btn-secondary col-1"><i class="fa-solid fa-user-plus"></i> Usuario</a>
        </div>

            <table class="table table-striped table-bordered text-center" id="tblUsers">
                <thead class="thead-dark">
                    <tr>
                        <th>Número de Documento</th>
                        <th>Nombre Completo</th>
                        <th>Telefono</th>
                        <th>Tipo de Usuario</th>
                        <th>Email</th>
                        <th>Usuario</th>
                        <th></th>
                    </tr>
                </thead>                

                <tbody>

                    @foreach (var item in Model) {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Cedula)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.NombreCompleto)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Telefono)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.IdRol)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Email)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Usuario)
                            </td>
                            <td>
                                <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.IdUser"><i class="fa-solid fa-trash-can"></i></a>
                            </td>
                        </tr>
                    }
                </tbody>
        </table>
    </div>
</body>
